@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  width: 100vw;
  height: 100vh;
}

.container {
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
}

li {
  list-style: none;
  background-color: #f8f8f8;
  padding: 16px;
}

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.card {
  width: 250px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 12px;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.225);
}

h1 {
  text-align: center;
  margin: 10px 0;
  padding: 0 32px;
}

h2 {
  font-size: 16px;
}

h4 {
  margin: 0;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

span {
  font-size: 14px;
  font-style: italic;
}

a {
  font-size: 14px;
  cursor: pointer;
  color: rgb(8, 8, 29);
  font-weight: 600;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

@media (min-width: 40rem) {
  .card {
    width: 45%;
  }
}

@media (min-width: 56rem) {
  .card {
    width: 25%;
  }
  h1 {
    font-size: 24px;
  }
}